* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.regs {
    position: absolute;
    top: -60px;
    position: fixed;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #642C99;
    z-index: 2;
    transition: 0.8s;
    
}

.regs p {
    width: 50%;
    position: fixed;
    margin: auto;
    color: #FBFAC9;
    font-family: 'Lato';
    font-size: 17px;
    padding-top: 10px;
    /* border: 1px solid red; */
}

.regs svg {
    width: 6%;
    position: absolute;
    right: 15px;
    cursor: pointer;
    /* border: 1px solid red; */
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .regs p {
        width: 65%;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .regs p {
        width: 80%;
        margin: auto;
        padding-top: 0px;
        font-size: 15px;
    }
}